@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


body{
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  scale: 1.1;
  color: #01AAC9;
  transition: all;
  transition-duration: 300ms;

}


/************************************ Discount Box ************************************/


.discount-box {
  width: auto;
  height: 50px;
}

.giftIcon{
  width: 30px;
}

.discount-box .rectangle {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 50px;
  top: 0;
  left: 0;
  background-color: #01aac9;
}

.label{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount-line{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  
}


/************************************ Inquiry Box ************************************/


.inquiry-box {
  /* width: 100%; */
  height: 41px;
  background-color: #efefef;
  font-size: 0.9rem;
}


.inquiry-row{
  padding-inline: 0.7rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inquiry-col-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
}


.select-dropdown,
.select-dropdown * {
  color: black;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #efefef;
  border-radius: 4px;
}

.select-dropdown select {
  font-size: 1rem;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.location,
.language{
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}


.location:hover{
  scale: 1.1;
  transition: all;
  transition-duration: 300ms;
}

.language:hover{
  scale: 1.1;
  transition: all;
  transition-duration: 300ms;
}

.inquiry-col-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
}

.inquiry-col-2 p{
  padding-left: 1rem;
  font-weight: bolder;
}



/************************************ NavBar ************************************/


.nav{
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
  
}

.image {
  width: 207px;
  height: 56px;
}

.image .img {
  position: relative;
  width: 207px;
  height: 56px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.MenuButton{
  display: none;
}

.right-nav{
  display: flex;
  align-items: space-between;
}

.menu-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items p{
  padding: 0.8rem;

}


.menu-top:hover{
  color: #01AAC9;
  scale: 1.1;
  transition: all;
  transition-duration: 300ms;
}

.search-box{
  height: 30px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 2rem;
  border: 0.1px solid black;
  font-family: 'Montserrat', sans-serif;
  margin-right: 1rem;
}

.menu-icons{
  display: flex;
  align-items: center;  
}

.menu-icons img{
  padding: 0.5rem;
}




/************************************ Banner Box ************************************/


.banner-box {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/img/banner.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  color: white;
  background-size: 100% 100%;
  background-size: cover;
  
  
}

.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-title{
  font-size: 5rem;
  font-weight: 600;
}

.break-banner-title{display: none;}

.banner-description{
  font-size: 1.2rem;
  font-weight: 700;
  color: gainsboro;
  text-align: center;
}

.banner-button{
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1.5rem;
  background-color: white;
  font-weight: 700;
}

.banner-button:hover{
  transition: all;
  transition-duration: 300ms;
  scale: 1.2;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1.5rem;
  background-color: #01aac9;
  color: black;
}


/************************************ Featured Categories ************************************/

.featured-categories{
  height: 90vh; 
}

.featured-categories-title{
  font-size: 2.5rem;
  font-weight: 700;
  padding-inline: 1rem;
  margin-bottom: 10px;
}

.featured-categories-body{
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding: 1rem;
}

.featured-card{
  margin: 1rem;
  border-radius: 1rem; 
  border: 1px solid gray;
}

.featured-card:hover{
  transition: all;
  transition-duration: 300ms;
  scale: 1.01;
  border: 1px solid #01AAC9;
}

.featured-card img{
  height: 300px;
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem ; 
}

.Categories{
  display: flex;
  justify-content: center;
}

.featured-card-content{
  padding: 1rem;
}

.featured-card-content .title{
  color: #01AAC9;
  font-weight: 700;
  font-size: 1rem;
}

.featured-card-content .hashtags{
  width: 100%;
  color: #01AAC9;
  font-weight: 700;
  font-size: 0.8rem;
}

.featured-card-content .description{
  text-align: justify;
}

/************************************ Popular Right Now ************************************/


.popular{
  width: 100%;
  min-height: 110vh;
  background-repeat: no-repeat;
  color: white;
  background-size: 100% 100%;
  background-image: url('assets/img/Popular.png');
  background-size: cover;
}

.inner-popular-box{
  padding-top: 5.5rem;
}

.popular-categories-title{
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  padding-inline: 1rem;
}

.popular-categories-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-card{
  position: relative;
  margin: 1rem;
  width: 25%;
  height: 55vh;
  border-radius: 1rem; 
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.popular-card:hover{
  transition: all;
  transition-duration: 300ms;
  scale: 1.01;
}

.popular-card img{
  overflow: hidden;
  padding-top: 0.5rem;
  border-radius: 1rem 1rem 0rem 0rem ; 
}


.popular-card-content{
  height: 40%;
  padding: 1rem;
  color: black;
  line-height: 50%;
}

.popular-card-content .title{
  font-weight: 700;
  font-size: 1.2rem;
}

.popular-card-content .subtitle{
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
}

.popular-card-content .description{
  text-align: justify;
  line-height: 130%;
}

.star-icons{
  display: flex;
}

.popular-bottom-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-cut{
  text-decoration: line-through;
  color: gray;
}

.discount-price{
  font-size: 1.5rem;
  font-weight: 700;
}

.heart{
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #01AAC9;
  cursor: pointer;
}

.view{
  cursor: pointer;
  position: absolute;
  top: 4.8rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #01AAC9;
}

/************************************our advantage************************************/
.advantages img{
  width: 100%;
}

.advantages-phone{
  display: none;
}

.advantages-title{
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  padding-inline: 1rem;
}

.our-advantage{
  position: relative;
  display: flex ;
  align-items: center;
}

.advantage-img img{
  width: 100%;
}

.over-img{
  position:absolute;
  right: 15rem;
  z-index: 2;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.our-advantage-phone{
  display: none;
}

.over-img img{
  height: 80vh;
  width: 40vw;
}

.advantage-banner{
  position:absolute;
  z-index: 3;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.marketing-btn{
  width: 180px;
  background-color: white;
  color: #01AAC9;
  height: 40px;
  border-radius: 20px;
  color: #01AAC9;
  font-size: 18px;
  margin-top: 25px;
  border: none;
}



.marketing-btn:hover{
  transition: all;
  transition-duration: 300ms;
  scale: 1.1;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1.5rem;
  color: black;
}

/************************************ Latest News ************************************/

.latest-news{
  width: 100%;
  height: 90vh;
}

.latest-news-title{
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  padding-inline: 1rem;
}

.latest-news-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.latest-news-card{
  margin: 1rem;
  border-radius: 1rem; 
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.latest-news-card:hover{
  transition: all;
  transition-duration: 300ms;
  scale: 1.01;
  border: 1px solid #01AAC9;
}

.latest-news-card img{
  height: 50%;
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem ; 
}

.latest-news-card-content{
  padding: 1.2rem;  
  height: 50%;
}


.latest-news-card-content .title{
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 0.5rem;
  margin: 0;
}

.latest-news-card-content a{
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-color: #01AAC9;

}

.news-date{
  padding: 0;
  margin: 0;
}



/************************************ Instagram ************************************/


.instagram{
  height: 85vh;
  width: 100%;
  background-image: url('./assets/img/insta.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


.insta-box-title{
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  padding-inline: 1rem;
}

.insta-box-body{
  display: flex;
  justify-content: center;
}

.insta-box-body img{
  width: 18%;
}

.insta-img{
  margin: 0.5rem;
  border-radius: 1rem;
}



/************************************ Footer ************************************/



.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer1{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding-inline: 5rem;
}


.footer-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 10vh;
}

.footer-menu .menu{
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-menu .menu a:hover{
  color: #01AAC9;
  scale: 1.1;
  transition: all;
  transition-duration: 300ms;

}

.newsletter{
  display: flex;
  align-items: center;
}

.call-to-action{
  height: 30px;
  padding-inline: 1rem;
  border-radius: 2rem;
  border: 0.1px solid black;
  margin-right: 1rem;
}

.button a{
  height: 30px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 2rem;
  border: 0.1px solid black;
  margin-right: 1rem;
  background-color: #01AAC9;
  color: white;
}

.button:hover{
  transition: all;
  transition-duration: 300ms;
  scale: 1.1;
}

.icon{
  display: flex;
  justify-content: space-between;
  width: 150px;
}


.pp-phone{
  display: none;
}

